:host {
  display: block;
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  padding: 32px 38px;
  box-shadow:  0 2px 10px rgba(#000, .5);
}

.title {
  font-size: 32px;
  margin-bottom: 32px;
}

.dialog-close-btn {
  position: absolute;
  top: 30px;
  right: 38px;
  width: 50px;
  height: 50px;
  background-color: #F5F5F5;
  color: #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: transparent;

  &:hover{
    cursor: pointer;
  }
}

.row {
  display: flex;
  justify-content: center;
  gap: 31px;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;

  input {
    border-radius: 20px;
    background-color: #F6F6F6;
    border: 1px solid #E0E0E0;
    padding: 18px 14px;
  }

  label {
    font-size: 12px;
    color: #505050;
  }

  &.--result {
    input {
      border: transparent;
      background-color: #F0ECF8;
      box-shadow:  0 2px 10px rgba(#000, .5);
    }
  }
}
