$white: #fff;
$white-gray: #f5f6f7;
$gray-stroke: #c7cbd1;
$gray-light: #e0e7eb;
$gray-disabled: #b5b8c0;
$gray-secondary: #717784;
$gray-cross: #adb8cc;
$gray-input: #9197a1;
$gray-table-cell: #495057;
$gray-table-header: #343a40;
$dark: #3c3c3c;
$blue-background: #f7f9fa;
$blue-light1: #eaf5fa;
$blue-light2: #c1e2f0;
$blue-primary: #1298d4;
$blue-disable: #93ddfd;
$blue-gradient: #20b3f3;
$blue-focus: #58c2f1;
$blue-focus-15: rgba(88, 194, 241, 0.15);
$green-gradient: #3ad1bc;
$blue-gradient-hover: #7ed3f9;
$green-gradient-hover: #8de5d9;
$blue-gradient-active: #1a8fc3;
$green-gradient-active: #2fa897;
$green-basic: #47c2b1;
$green-dark: #399b8e;
$green-light: #b4e4dd;
$green-light-2: #7ed4c8;
$white-40: rgba(255, 255, 255, 0.4);
$black: #000;
$black-40: rgba(0, 0, 0, 0.4);
$black-14: rgba(0, 0, 0, 0.14);
$black-35: rgba(0, 0, 0, 0.35);
$black-54: rgba(0, 0, 0, 0.54);
$black-87: rgba(0, 0, 0, 0.87);
$grey-03: rgba(38, 51, 77, 0.03);
$grey-12: rgba(89, 102, 132, 0.12);
$grey-15: rgba(80, 86, 94, 0.15);
$red: #e13838;
$green-success: #4dc414;
$yellow: #ffc635;
$orange: #fb782e;
$gray-draft: #6897b0;
